<div class="max-w-3xl mt-10">
  <h2 class="text-3xl font-semibold mb-6">Órdenes enviadas</h2>

  <!-- Si NO hay órdenes -->
  @if (orderService.getOrders().length === 0) {
    <div class="text-center py-16 bg-white border border-gray-200 rounded-xl shadow">

      <div class="text-gray-400 text-6xl mb-4">
        🧾
      </div>

      <p class="text-lg text-gray-700 font-medium">
        No hay órdenes registradas aún
      </p>

      <p class="text-gray-500 mt-1">
        Realiza tu primer pedido desde el menú
      </p>

      <a
        routerLink="/"
        class="inline-block mt-6 px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition"
      >
        Ir al menú
      </a>

    </div>
  }

  <!-- Si SÍ hay órdenes -->
  @else {
    @for (order of orderService.getOrders(); track $index) {
      <div class="border border-gray-200 rounded-xl p-4 mb-4 shadow bg-white">
        <div class="flex justify-between">
          <h3 class="font-semibold">Orden #{{ order.id }}</h3>
          <span class="text-gray-500 text-sm">
            {{ order.timestamp | date : 'short' }}
          </span>
        </div>

        <p class="text-gray-700 mt-2">
          <strong>Cliente:</strong> {{ order.customer }}
        </p>

        <ul class="mt-2 text-gray-600">
          @for (item of order.items; track $index) {
            <li>- {{ item.name }} ({{ item.price | currency }})</li>
          }
        </ul>

        <p class="mt-3">
          <strong>Total:</strong> {{ order.total | currency }}

          @if(order.discountApplied > 0) {
            <span class="text-sm text-green-600 ml-2">
              ({{ order.discountApplied * 100 }}% off)
            </span>
          }
        </p>
      </div>
    }
  }

</div>
